html { height: 100%;}

* {  margin: 0;  padding: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,.clearfix:after,.row:before,.row:after .container:before,.container:after {  content: " ";  display: table;}
.clearfix:after,.row:after,.container:after {  clear: both;}
.clearfix,row,.container {  *zoom: 1;}

/* Grid elements */
.container { position: relative;  overflow: hidden;}
.wrap {  width: 980px;  margin-left: auto;  margin-right: auto;}

.row {  position: relative;  width: 100%;}
.col {  float: left;}

body.fullwidth {  width: 100%;}

.col,.col:after,.col:before,
.row,.row:after,.row:before,
input,input:after,input:before,
label,label:after,label:before,
select,select:after,select:before,
textarea,textarea:after,textarea:before,
form,form:after,form:before
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap > .row {padding: 90px 30px 120px; overflow: hidden}
.wrap > .row.nowrap {padding: 0 30px 0;}

.dim1 {  width: 10%;}
.dim1sixth {  width: 16.66666%;}
.dim1sixth.last {  width: 16.67%;}
.dim2,.dim1fifth {  width: 19.99999%;}
.dim1quarter {  width: 24.99999%;}
.dim3 {  width: 30%;}
.dim1third,.dim2sixths {  width: 33.33333%;}
.dim1third.last,.dim2sixths.last {  width: 33.33334%;}
.dim4,.dim2fifths {  width: 40%;}
.dim5,.dim2quarters,.dim1half,.dim3sixths {  width: 50%;}
.dim6,.dim3fifths {  width: 60%;}
.dim2thirds,.dim4sixths {  width: 66.66666%;}
.dim2thirds.last,.dim4sixths.last {  width: 66.66667%;}
.dim7 {  width: 70%;}
.dim3quarters {  width: 74.99999%;}
.dim8,.dim4fifths {  width: 80%;}
.dim5sixths { width: 83.33333%;}
.dim5sixths.last { width: 83.33334%;}
.dim9 { width: 90%;}
.dim10,.dimfull {  width: 100%;}

.gridpadding,.childrenpadding > .col {  padding: 30px;}
.gridpaddinghorizontal,.childrenpaddinghorizontal > .col {  padding-left: 30px;  padding-right: 30px;}
.gridpaddingvertical,.childrenpaddingvertical > .col { padding-top: 30px; padding-bottom: 30px;}
.gridpaddingtop,.childrenpaddingtop > .col {  padding-top: 30px;}
.gridpaddingbottom,.childrenpaddingbottom > .col {  padding-bottom: 30px;}
.gridpaddingleft,.childrenpaddingleft > .col {  padding-left: 30px;}
.gridpaddingright,.childrenpaddingright > .col {  padding-right: 30px;}
.gridhalfpadding,.childrenhalfpadding > .col {  padding: 15px;}
.gridhalfpaddinghorizontal,.childrenhalfpaddinghorizontal > .col {  padding-left: 15px;  padding-right: 15px;}
.gridhalfpaddingvertical,.childrenhalfpaddingvertical > .col {  padding-top: 15px;  padding-bottom: 15px;}
.gridhalfpaddingtop,.childrenhalfpaddingtop > .col {  padding-top: 15px;}
.gridhalfpaddingbottom,.childrenhalfpaddingbottom > .col {  padding-bottom: 15px;}
.gridhalfpaddingleft,.childrenhalfpaddingleft > .col {  padding-left: 15px;}
.gridhalfpaddingright,.childrenhalfpaddingright > .col {  padding-right: 15px;}

/* helpers */
.spacer.spacer-responsive {  height: 30px;}


#contact-map,form .subtitle {  margin-bottom: 30px;}

#googlemap,
.post-content address,
.post-content table,
.format-wide2 .meta,
.format-list .meta,
.format-list2 .meta,
.format-grid .meta,
.format-masonry .meta,
.excerpt {
    margin-bottom: 15px;
}
#main .container,
#copyright,
#footer .container,
.format-list .col,
.format-list2 .col,
.format-wide .col,
.format-wide2 .col,
.o-items-container .o-item,
.main-title,
.content-wraper {
    padding: 15px;
}
#header .container,
#header .row {
    overflow: visible;
}
.masonry-container {
    margin-left: -1px;
    margin-right: -1px;
}
#header .container,
#header .container > .row {
    padding: 0 15px;
}
#logoblock {
    padding: 15px 0;
}
.o-items-container .o-item {
    padding-right: 14px;
}
#copyright {
    overflow: hidden;
}
.format-list .posthead,
.format-list2 .posthead,
.format-list .flexslider.posthead,
.format-list2 .flexslider.posthead {
    margin-bottom: 0;
}
.format-wide2 a.readmore {
    margin-top: 15px;
}
.format-wide .posthead,
.format-wide .flexslider.posthead,
.format-wide2 .posthead,
.format-wide2 .flexslider.posthead {
    padding: 15px;
    padding-bottom: 0;
    margin-bottom: 15px;
}
body.single .format-wide2 .posthead {
    margin-bottom: 0;
}
.o-sticky {
    margin-right: -30px !important;
    margin-left: -30px !important;
    margin-top: -30px !important;
    overflow: hidden;
}
.posthead.o-sticky {
    margin-bottom: 15px !important;
}
#contact-map,
#contact-email {
    padding-left: 15px;
    padding-right: 15px;
}
#mobilenav {
    padding-bottom: 15px;
}
.o-singular .hentry {
    margin-bottom: 30px;
}
.o-index.format-grid .hentry,
.o-index.format-masonry .hentry,
.o-index.format-mosaic .hentry {
    padding: 15px;
}
.o-index.format-wide .hentry,
.o-index.format-wide2 .hentry {
    margin-bottom: 60px;
}
.o-index.format-list .hentry,
.o-index.format-list2 .hentry {
    margin-bottom: 30px;
}
.format-list .hentry,
.format-list2 .hentry {
    overflow: hidden;
}
.o-singular.format-wide .hentry,
.o-singular.format-wide2 .hentry,
.o-singular.format-list .hentry,
.o-singular.format-list2 .hentry {
    margin-bottom: 0;
}
.o-index.o-items-container {
    margin-bottom: 30px;
}
.prevnext,
.pagination {
    margin: 0;
    padding: 15px;
    overflow: hidden;
}
.pagination {
    padding-left: 0;
    padding-right: 0;
}
#comments,
#respond {
    margin-top: 15px;
    padding: 15px;
    padding-bottom: 0;
}
#comments h3,
#respond h3 {
    margin-bottom: 30px;
}
#comments ol {
    margin-bottom: 30px;
}
#comments .comment-body {
    margin-bottom: 30px;
}
#comments .children {
    margin-left: 60px;
}
#comments .avatar {
    margin-right: 15px;
}
#comments .navigation {
    overflow: hidden;
    margin-bottom: 30px;
}
#comments form p {
    margin-bottom: 30px;
}


.widget_o_carousel_widget h2 {
    margin-bottom: 25px;
}
.widget_o_carousel_widget.hasnav h2 {
    margin-bottom: -30px;
    padding-right: 80px;
}
.widget_o_carousel_widget h3,
.widget_o_focus_widget h3 {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
}
.widget_o_carousel_widget p,
.widget_o_focus_widget p {
    margin-top: 15px;
}
#footer .o-widget {
    padding: 0 15px;
}
#footer .o-widget.widget_o_focus_widget {
    padding: 0;
}
pre {
    margin: 30px 0;
    padding: 15px;
    overflow: auto;
}
.hr {
    margin: 60px 0;
}
.box {
    margin-bottom: 30px;
    padding: 30px;
}
.box span {
    font-size: 30px;
    margin-bottom: 15px;
    padding-bottom: 0;
    line-height: 1.3;
}
blockquote {
    padding-left: 15px;
    margin-bottom: 15px;
}
blockquote.bigquote {
    padding-left: 60px;
    margin-bottom: 30px;
}
.toggle,
.accordion,
.tabs,
.iframe-container {
    margin-bottom: 30px;
}
.iframewrap {
    padding: 15px;
}
.iframewrap .iframe-container {
    margin-bottom: 0;
}
#mobilenav {
    display: none;
}
.nav {
    display: block;
}
.alert {
    margin-bottom: 15px;
    padding: 15px;
    padding-right: 30px;
}
.alert .close {
    top: 15px;
    right: 15px;
}
form legend {
    margin: 30px 0;
}
form p {
    margin-bottom: 15px;
}
form label {
    padding-right: 30px;
}
.tagline p {
    padding: 0 15px;
}
.es-carousel ul li {
    margin-right: 30px !important;
}
.posthead {
    margin-bottom: 30px;
    line-height: 0;
}
.flexslider.posthead {
    margin-bottom: 30px;
}
.format-masonry .posthead,
.format-grid .posthead {
    margin-bottom: 15px;
}
.format-mosaic .posthead {
    margin-bottom: 0;
}
#content.dim7 {
    padding-right: 30px;
}
#content.dim7.pull-right {
    padding-right: 0;
    padding-left: 30px;
}

@media (min-width: 1200px) {
    .wrap {   width: 980px;  }
    body.fullwidth .wrap {    width: auto;  }
    body.fullwidth.boxed .wrap {    width: 980px;  }
}

@media (min-width: 768px) and (max-width: 979px) {
    .wrap {    width: 768px;  }
    body.fullwidth .wrap {    width: auto;  }
    body.fullwidth.boxed .wrap {    width: 768px;  }
}

@media (max-width: 767px) {
    .wrap,  body.fullwidth.boxed .wrap {   width: 100%;  }
    #main .container,  #header .container,  #footer .container {  padding: 0; }
    #mobilenav {  display: block; }
    #respond .dim1third { padding-right: 0 !important;}
    .nav {  display: none; }
    .tabstitle div { float: none !important;  }

    .dim1,
    .dim1sixth,
    .dim1sixth.last,
    .dim2,
    .dim1fifth,
    .dim1quarter,
    .dim3,
    .dim1third,
    .dim2sixths,
    .dim1third.last,
    .dim2sixths.last,
    .dim4,
    .dim2fifths,
    .dim5,
    .dim2quarters,
    .dim1half,
    .dim3sixths,
    .dim6,
    .dim3fifths,
    .dim2thirds,
    .dim4sixths,
    .dim2thirds.last,
    .dim4sixths.last,
    .dim7,
    .dim3quarters,
    .dim8,
    .dim4fifths,
    .dim5sixths,
    .dim5sixths.last,
    .dim9,
    .dim10,
    .dimfull {
        width: 100%;
    }
    .o-item.dim1half {
        width: 49.999% !important;
    }
    #footer .o-widget {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #footer .o-widget.widget_o_focus_widget {
        padding-top: 15px;
        padding-bottom: 0;
    }
    #contact-map .dim1third {
        margin-bottom: 15px;
    }
}